<!-- ejs header -->
<%- include("header")-%>
  <div class="box" id="heading">
      <h1>Today Agenda</h1>
      <h2><%=listTitle%></h2>
      </div>
    <div class="box">
        <%for(let i=0; i< newListItems.length; i++){%>
          <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i]%></p>
            </div>
            <%}%>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item " autocomplete="off" /></input>
        <button type="submit" name="list" value=<%=listTitle%>>+</button>
      </form>
  </div>
  <!-- ejs footer -->
<%- include("footer")-%>
